<div class='card api' id='api-{{ timestamp }}'
    data-form-id='{{ form_id }}'>
    <div class='card-header'>
        <h2>{% if object %}{{ object.name }}{% else %}New{% endif %} - End Point
            <button class='btn bgm-red remove_end_point waves-effect waves-button waves-float pull-right'
                    data-form-id='{{ form_id }}'>
                <i class='md md-close'></i>
            </button>
            <button class='btn btn-success waves-effect waves-button waves-float register_end_point'
                    data-form-id='{{ form_id }}'>
                    <i class='md md-check'></i>Save End Point
            </button>
        </h2>
    </div>

    <div class='card-body card-padding'>
        <div class='row form'>
            {{ form|safe }}
        </div>
    </div>
</div>