{% extends "core/side-menu-base.html" %}
{% load staticfiles %}

{% block side_list %}
{{ side_list|safe }}
{% endblock %}

{% block title %}
{% if api %}{{ api.name }}{% else %}New{% endif %} - API
{% endblock %}

{% block content %}
<section id='content'>

    <div class='card api' id='api'>
        <div class='card-header'>
            <h2>{% if api %}{{ api.name }}{% else %}New{% endif %} - API
                <button class='btn bgm-lightgreen api-all waves-effect waves-button waves-float'>
                    <i class='md md-menu'></i>
                </button>
                {% if api %}
                <button class='btn bgm-red waves-effect waves-button waves-float pull-right' id='remove_api'>
                    <i class='md md-close'></i>
                </button>
                {% endif %}
            </h2>
        </div>

        <div class='card-body card-padding'>
            <div class='row form'>
                {{ form|safe }}
            </div>

            <div class='row'>
                <div class='form-group col-sm-3 pull-right'>
                    <button class='btn btn-success pull-right waves-effect waves-button waves-float' id='register_api'
                            data-form-id='{{ form_id }}'>
                        <i class='md md-check'></i>Save API Details
                    </button>
                </div>
            </div>

            <div class='row'>
                <div class='form-group col-sm-3 pull-right'>
                    <button class='btn btn-primary pull-right waves-effect waves-button waves-float' id='save_api'
                            data-form-id='{{ form_id }}'>
                        <i class='md md-check'></i>Save API Details and APIs
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% for end_point_form in end_point_forms %}
    {{ end_point_form|safe }}
    {% endfor %}

    <div class='card-padding card-body pull-right col-sm-4'>
        <button id='add_new_api' class='btn btn-primary btn-block waves-effect waves-button waves-float'
            data-form-id='{{ form_id }}'>
            add new api
        </button>
    </div>

</section>
{% endblock %}

{% block footer_js %}
<script src="{% static 'js/json-editor.js' %}"></script>
<script type="text/javascript">
var get_new_end_point_url = '{% url "end-point-new" api="6969aetos_api6969" %}'
$(document).ready(function() {
    editors = []
    sample_schema = {
      type: "object",
      title: "Car",
      properties: {
        make: {
          type: "string",
          enum: [
            "Toyota",
            "BMW",
            "Honda",
            "Ford",
            "Chevy",
            "VW"
          ]
        },
        model: {
          type: "string"
        },
        year: {
          type: "integer",
          enum: [
            1995,1996,1997,1998,1999,
            2000,2001,2002,2003,2004,
            2005,2006,2007,2008,2009,
            2010,2011,2012,2013,2014
          ],
          default: 2008
        }
      }
    }

    json_editors = $('.json_editor');
    $.each(json_editors, function(i){
      json_editor = json_editors.eq(i);
      var editor = new JSONEditor(json_editor[0], {schema: sample_schema});
      editors.push(editor);
      $.getScript(function_js);
    })
});

</script>
<script src="{% static 'js/no-mouse-click.js' %}"></script>
<script src="{% static 'js/common/utils.js' %}"></script>
<script src="{% static 'js/apis/app.js' %}"></script>
{% endblock %}