{% load custom_tags %}
<div class="row">
    <div class="listview lv-bordered lv-lg col-md-4">
        <div class="lv-body">
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Garage Name
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Car Name
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Cost
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listview lv-bordered lv-lg col-md-4">
        <div class="lv-body">
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        OCD: Date
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        EDD: Date
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Ref. No.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listview lv-bordered lv-lg col-md-4">
        <div class="lv-body">
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="status">
                        Status: {{ note.status }}
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Status Date
                    </div>
                </div>
            </div>
            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title" data-json-key="">
                        Delivery Boy Name
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>