{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
Services Dashboard
{% endblock %}

{% block content %}
<section id='content' style='padding: 30px 30px 30px 30px;'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <ul class='tab-nav tn-justified' tabindex='1' style='overflow: hidden; outline: none;'>
                    <li class='{% if priority_dashboard == "services" %}active{% endif %}
                    waves-effect dashboard-button' data-dashboard-id='services-dashboard'><a href='#'>Services</a></li>
                    <li class='{% if priority_dashboard == "apis" %}active{% endif %}
                    waves-effect dashboard-button' data-dashboard-id='apis-dashboard'><a href='#'>APIs</a></li>
                </ul>
            </div>
            <div class='card-body'>
                <div class='card dashboard' id='services-dashboard' style='
                {% if priority_dashboard == "services" %}display: block;{% else %}display: none;{% endif %}
                '>
                    <div class='card-body'>
                        <div class='container'>
                            {{ services_dashboard|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class='card-body'>
                <div class='card dashboard' id='apis-dashboard' style='
                {% if priority_dashboard == "apis" %}display: block;{% else %}display: none;{% endif %}
                '>
                    <div class='card-body'>
                        <div class='container'>
                            {{ apis_dashboard|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer_js %}
<script src="{% static 'js/dashboard/app.js' %}"></script>
<script src="{% static 'js/dashboard/utils.js' %}"></script>
{% endblock %}